### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

.DS_Store
*.swp
# dotenv
.env

## Environment normalization:
/.bundle
/vendor/bundle
/vendor/bundler

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

#Rubymine
.idea/
.idea/diverbeta.iml
.idea/workspace.xml
**/.idea/

#uploader image
/public/uploads
#site_map
/public/*xml.gz

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

curriculum_md/
