<% comments.each do |comment| %>
 <div class="comment-loop">
   <div class="row">
     <div class="col-xs-10">
       <%= link_to user_profile_path(comment.user.username), class: 'username' do %>
          <strong><%= comment.user.name %></strong>
       <% end %>
       <%= comment.content %>
     </div>
     <div class="col-xs-2 text-right">
       <% if current_user.id == comment.user_id %>
         <%= link_to '×', picture_comment_path(picture, comment), class: "delete-comment", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %>
       <% end %>
     </div>
   </div>
 </div>
<% end %>
