<% requests.each do |request| %>
  <div class="request-list">
    <%= request.sender.name %>
    <span id="send-request-<%= request.sender.id %>" class="admit-btn-area">
      <%= render 'request_admit', user: request.sender %>
    </span>
  </div>
<% end %>
