<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h1>リクエストリスト</h1>
    <div id="request-all">
      <%= render 'request_list', requests: @requests %>
    </div>
  </div>
</div>
