<% if picture.likes.count >= 10 %>
  いいね
  <span id="like-count-<%= picture.id %>">
    <%= picture.likes.count %>
  </span>件
<% else %>
  <% if picture.liking_users.present? %>
    <% picture.liking_users.each do |user| %>
      <%= link_to user_profile_path(user.username), class: 'a-dafault' do %>
        <%= user.username %>さん
      <% end %>
    <% end %>
    が「いいね！」しました
  <% end %>
<% end %>
