<% if user.secret == 1 && !current_user.following?(user) && user != current_user %>
  <div class="nothing text-center">
    <h3>このアカウントは非公開です</h3>
    <p>このアカウントの写真や動画を見るには、フォローリクエストを送信してください。</p>
  </div>
<% else %>
  <% if pictures.blank? %>
    <div class="nothing text-center">
      <h3>投稿はまだありません。</h3>
    </div>
  <% else %>
    <% pictures.each do |picture| %>
      <div class="col-sm-4 picture-item mb25">
        <%= link_to picture_path(picture, username: user.username), class: "no_border" do %>
          <%= image_tag("#{picture.avatar}") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
