// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
  max-width: 100%;
}

#_by, #q {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.a-default:hover {
  text-decoration: none;
  background: none;
  color: #333;
}

.pic-user-info {
  margin: 0;
  padding: 10px 24px;
  span img{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
}

.pic-changable-area {
  padding: 10px 24px 20px;
  .pic-likes-area,
  .pic-user-area,
  .pic-user-name,
  .pic-action {
    padding-top: 10px;
  }
  .pic-comment-area {
    border-bottom: 1px solid #ddd;
    padding: 10px 0 20px;
  }
}

.liking a.liked,
.liking a.liked:hover,
.liking a.liked:visited {
  text-decoration: none;
  background: none;
  color: red;
  width: 100%;
}

.not-like a,
.not-like a:hover,
.not-like a:visited {
  text-decoration: none;
  background: none;
  color: #ddd;
  width: 100%;
}

.liked {
  color: red;
}

.liked:hover {
  color: red;
}

.username:hover {
  background: none;
  color: #333;
  text-decoration: none;
}

.mb25 {
  margin-bottom: 25px;
}

/* search */
.search-area {
  display: inline;
  position: absolute;
  top: 20px;
  margin-left: 15px;
}

#q {
  width: 250px;
  border-radius: 5px;
  height: 30px;
}

/* show */
.photo-detail {
  background-color: #ffffff;
  position: relative;
  .photo-area{
    padding: 0px;
  }
}

.pic-user-photo {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  span img{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
}

.pic-self-comment,
.pic-detail-comments {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.comment-loop {
  margin-bottom: 7px;
}
