li {
  list-style-type: none;
}

body {
  background-color: #f3f3f3;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 5000;
  #top_icon {
    clear: both;
    color: #666;
    #top_camera {
      margin-top: 20px;
      border-right: 3px solid #e3e3e3;
    }
  }
  #top_icon:hover {
    text-decoration: none;
    background : none;
    color: #666;
  }
  h3 {
    margin-top: 0;
    padding-top: 20px
  }
  .nav {
    margin-top: 5px;
    .last {
      margin-top: -20px;
    }
  }
  .nav>li>a:hover {
    text-decoration: none;
    background : none;
    color: #666;
  }
  .navbar-default {
    border: none;
    background-color: transparent;
  }
  .navbar-collapse {
    background-color: #e3e3e3;
    width: 100%;
    opacity: 0.6;
    color: #232323;
  }
}

/* top */

body#top-body {
  height: 1000px;
  overflow: hidden;
}

.all-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -10px;
  background-image: image-url("top/top_01.jpg");
  background-size:cover;
  text-align: center;
}

.flash {
  padding-top: 150px;
}

.album {
  padding-top: 100px;
  text-align: center;
  h1 {
    width: 80%;
    margin: 0 auto;
  }
}

.wrapper {
  background-color: #ffffff;
  border: 2px solid #efefef;
  padding: 10px 25px;
}

.form-title {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.margin-adjust {
  margin: 80px 0;
}

.oth-option {
  margin-top: 25px;
  min-height: 20px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.oth-option span {
  margin-right: 5px;
}

.oth-link,
.oth-link:hover,
.oth-link:visited {
  color: #3897f0;
}
.oth-link:hover {
  opacity: 0.8;
  background-color: #fafafa;
  text-decoration: none;
}

.or-area {
  margin-top: 15px;
}

.outh-twitter,
.outh-facebook {
  display: block;
  margin-top: 15px;
  text-align: center;
  padding: 10px 0;
}
.outh-twitter i,
.outh-facebook i {
  margin-right: 5px;
}

.outh-facebook,
.outh-facebook:visited,
.outh-facebook:hover {
  background-color: #3B5998;
  color: #fff;
}

.outh-facebook:visited,
.outh-facebook:hover {
  opacity: 0.8;
  text-decoration: none;
}

.outh-twitter,
.outh-twitter:visited,
.outh-twitter:hover {
  background-color: #1DA1F2;
  color: #fff;
}

.outh-twitter:visited,
.outh-twitter:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* pictures */

.pic-area {
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 2px solid #efefef;
  .pic-user-name,
  .pic-comment-area,
  .pic-action-area {
    padding: 10px;
  }
  .pic-photo-area img {
    width: 100%;
    border: 1px solid #efefef;
  }

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

/* pictures/new */

#form-title {
  margin-bottom: 25px;
}

.back {
  width: 100%;
}

/* pictures/_form */
div.field {
  margin-bottom: 15px;
}

.form-photo {
  margin-bottom: 25px;
  img {
    width: 100%;
  }
}

.cl-account {
  margin: 40px 0 25px;
  text-align: center;
}

@media screen and ( max-width:767px )
{
  header {
    #top_icon {
      margin-top: -60px;
      margin-left: -60px;
    }
  }
  .margin-adjust {
    margin-top: 150px 0 50px;
  }
}
